{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
    {% if error is defined %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="mt-4 text-center cool_font">Reset password</h1>
    <div class="container text-center mt-4">
        {{ form_start(resetPasswordForm) }}
        <div class="row justify-content-center mt-2">
            <div class="col-2">
                {{ form_row(resetPasswordForm.email) }}
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-2">
                {{ form_row(resetPasswordForm.validForm, {'label': 'Reset password'}) }}
            </div>
        </div>
        {{ form_end(resetPasswordForm) }}
    </div>
{% endblock %}