{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <h1>Settings</h1>

    <img id="avatar" src="{{ asset('uploads/users/' ~ app.user.avatarFilename) }}" alt="" width="200">


    {{ form_start(settingsForm) }}
    {{ form_row(settingsForm.avatar) }}
    {{ form_row(settingsForm.username) }}
    {{ form_row(settingsForm.email) }}
    <button type="submit" class="btn">Save</button>
    {{ form_end(settingsForm) }}


    {{ form(passwordForm) }}
    <a href="{{ path('delete_user') }}">Delete user</a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
        Delete account
    </button>
    <!-- Modal -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    Are you sure you want to delete your account ?
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, I keep my account</button>
                    <a class="btn btn-danger" href="{{ path('delete_user') }}" role="button">Yes, delete my account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}