<div class="col-sm-3" style="width: 20%;">
    <div class="card mb-4" style="width: 18rem; margin-left: 1em; margin-right: 1em;">
        {% if firstPicture %}
            <img class="card-img-top" src="{{ asset('uploads/tricks/' ~ id ~ '/' ~ firstPicture.filename) }}" alt="Card image cap">
        {% else %}
            <img class="card-img-top" src="{{ asset('uploads/tricks/' ~ id ~ '/') }}" alt="Card image cap">
        {% endif %}

        <div class="card-body">
            <h5 class="card-title"><a class="nav-link" href="{{ path('trick_display', {id: id} ) }}">{{ name }}</a>
                <a class="nav-link" href="{{ path('trick_update', {id: id} ) }}">&#9998;</a>
                <!-- Button trigger modal -->
                <a data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                    &#128465;
                </a>
            </h5>
            <p class="card-text">{{ description }}</p>
            <a href="{{ path('trick_display', {id: id} ) }}" class="btn btn-primary">Detail</a>
        </div>
        <form method="post" action="{{ path('trick_delete', {id: id} ) }}" style="display: inline-block" onsubmit="return confirm('Are you sure you want to delete this trick ?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>