{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4 mb-2 text-center">
        {% if trick.mainPicture is not null %}
            <img id="" src="{{ asset('uploads/tricks/' ~ trick.id ~ '/' ~ trick.mainPicture) }}" alt="" width="400">
        {% else %}
            <img id="" src="{{ asset('media/icon.jpg') }}" alt="" width="400">
        {% endif %}
    </div>

    <h1 class="text-center cool_font">{{ trick.name }}</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6" style="text-align: right;">
                Author :
            </div>
            <div class="col-6 justify-content-end">
                {{ trick.author.username}} &#183; {{ trick.createdDate |format_datetime(locale='en') }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6" style="text-align: right;">
                Category :
            </div>
            <div class="col-6">
                {{ trick.category.name }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6" style="text-align: right;">
                Description :
            </div>
            <div class="col-6">
                {{ trick.description }}
            </div>
        </div>
    </div>

    {% if trick.pictures|length > 0 %}
        <div class="container mt-4">
            <div class="row">
            {% for picture in trick.pictures %}
                <div class="col-3" style="padding: 1em;">
                    <img src="{{ asset('uploads/tricks/' ~ trick.id ~ '/' ~ picture.filename) }}" width="100%" height="200px">
                </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if trick.trickVideos|length > 0 %}
        <div class="container mt-4">
            <div class="row">
                {% for video in trick.trickVideos %}
                    <div class="col-3" style="padding: 1em;">
                        {{ video.url | raw }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <h2 class="text-center cool_font">Comments</h2>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="container text-center">
                {{ form_start(addCommentForm) }}
                {{ form_end(addCommentForm) }}
        </div>
    {% endif %}

    <div class="text-center" id="comment_block">
    {% for comment in comments %}
        <p>[{{ comment.createdDate|date("j/n/Y H:i:s", "Europe/Paris") }}] {{ comment.author.username }}</p>
        <p>{{ comment.content }}</p>
    {% endfor %}
    </div>
    <div class="container text-center mb-4">
        <button type="button" class="btn btn-dark" id="loadMoreCommentsBtn">Load More</button>
    </div>
    {% if comments|length > 1 %}
    {% endif %}
    <input id="trickId" type="hidden" value="{{ trick.id }}">
    <input id="pageType" type="hidden" value="trick_1">
{% endblock %}
